/*---------------------------------------
    22. 404 CSS
-----------------------------------------*/

.error-text > {
  h1 {
    font-size: 200px;
    color: $theme-color;
    font-weight: 900;
    letter-spacing: 10px;
    line-height: 220px;
    margin-bottom: 30px;
    // Responsive
    @media #{$desktop-device}{
      font-size: 180px;
      line-height: 180px;
    }
    @media #{$tablet-device}{
      font-size: 160px;
      line-height: 160px;
      margin-bottom: 20px;
    }
    @media #{$large-mobile}{
      font-size: 120px;
      line-height: 120px;
      margin-bottom: 20px;
    }
    @media #{$small-mobile}{
      font-size: 120px;
      line-height: 120px;
      margin-bottom: 15px;
    }
  }
  h2 {
    font-size: 35px;
    line-height: 47px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: $heading-color;
    // Responsive
    @media #{$tablet-device}{
      font-size: 28px;
      line-height: 28px;
    }
    @media #{$large-mobile}{
      font-size: 28px;
      line-height: 28px;
    }
    @media #{$small-mobile}{
      font-size: 20px;
      line-height: 24px;
    }
  }
  p {
    font-size: 22px;
    font-weight: 300;
    line-height: 25px;
    margin: 20px auto 30px;
    color: $body-color;
    max-width: 700px;
    // Responsive
    @media #{$tablet-device}{
      font-size: 18px;
      line-height: 24px;
      max-width: 550px;
    }
    @media #{$large-mobile}{
      font-size: 18px;
      line-height: 24px;
      max-width: 450px;
    }
    @media #{$small-mobile}{
      font-size: 18px;
      line-height: 24px;
      max-width: 100%;
    }
  }
}

.search-error {
  form {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 500px;
    // Responsive
    @media #{$small-mobile}{
      width: 100%;
    }
  }
  input {
    background: none;
    border: 1px solid #e9e9e9;
    color: #333333;
    float: left;
    font-size: 14px;
    height: 50px;
    padding: 0 40px 0 15px;
    width: 100%;
    line-height: 50px;
  }
  button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4f4f4f;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 50px;
    &:hover {
      color: $theme-color;
    }
  }
}

.error-button a {
  background: $theme-color none repeat scroll 0 0;
  border-radius: 35px;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 40px;
  margin-top: 30px;
  padding: 0 30px;
  text-transform: uppercase;
  // Responsive
  @media #{$tablet-device}{
    margin-bottom: 20px;
  }
  @media #{$large-mobile}{
    margin-bottom: 15px;
  }
  @media #{$small-mobile}{
    margin-bottom: 15px;
  }
  &:hover {
    background: #333;
  }
}