/*----------------------------------------*/
/*  04. About CSS
/*----------------------------------------*/
.about-section-area{
    text-align: center;
    border: 20px solid #e5e5e5;
    padding: 0 40px;
    // Responsive
    @media #{$large-mobile}{
        padding: 0 15px;
        border: 5px solid #e5e5e5;
    }
    & .text-des{
        padding: 55px 30px 39px;
        border-bottom: 1px solid #e5e5e5;
        //Responsive
        @media #{$desktop-device}{
            padding: 40px 30px 28px;
        }
        @media #{$large-mobile}{
            padding: 40px 0px 28px;
        }
        & h3{
            font-size: 24px;
            color: $heading-color;
            font-weight: 900;
            text-transform: uppercase;
            margin-bottom: 0;
        }
        & p{
            line-height: 24px;
            color: $body-color;
            margin: 0;
            padding: 25px 0 0;
        }
    }
    & .about-social{
        padding: 40px 0;
        display: flex;
        justify-content: center;
        // Responsive
        @media #{$large-mobile}{
            padding: 20px 0;
        }
        & a {
            padding: 0 8px;
            color: $body-color;
            & i {
                font-size: 18px;
                display: block;
                line-height: 28px;
            }
            &:hover {
                color: $theme-color;
            }
        }
    }
}
/* About Page CSS */
.about-us-content h2 {
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    color: $heading-color;
    margin-bottom: 20px;
    // Responsive
    @media #{$large-mobile}{
        font-size: 28px;
        margin-bottom: 10px;
    }
    & p{
        line-height: 22px;
    }
  }
  
  .about-us-image {
    overflow: hidden;
    &.img-full {
        & img{
            transition: all 0.5s ease-in-out;
        }
    }
  }
  
  .about-us-img-wrapper {
      &:hover{
          & .about-us-image{
              & img{
                transform: scale(1.2);
              }
          }
      }
  }
  
  
  .single-team {
    position: relative;
    &  .team-image {
            transition: all 0.4s ease 0s;
            & a{
                display: block;
                & img{
                    width: 100%;
                }
            }
        }
    & .team-content {
        bottom: 0;
        padding: 30px;
        position: absolute;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        text-align: center;
        -webkit-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
        width: 100%;
        z-index: 4;
        // Responsive
        @media #{$tablet-device}{
            padding: 15px;
        }
        @media #{$large-mobile}{
            padding: 15px;
        }
        @media #{$small-mobile}{
            padding: 30px;
        }
        .team-hover-info {
            background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
            padding: 30px 0;
            right: 30px;
            z-index: 2;
            h2 {
              color: #fff;
              font-size: 18px;
              margin-bottom: 14px;
              text-transform: capitalize;
            }
            .team-social {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              & li{
                list-style: none;
                padding: 0 17px;
                & > a{
                    & > i{
                        border: 0 solid transparent;
                        border-radius: 100%;
                        color: #fff;
                        font-size: 14px;
                        height: auto;
                        line-height: 20px;
                        width: auto; 
                    }
                    &:hover{
                        & > i{
                            color: $theme-color;
                        }
                    }
                }
              }
            }
          }
      }
      &:hover{
          & .team-image{
              & img{
                filter: grayscale(100%);
                transition: all 0.4s ease 0s;
              }
          }
          & .team-content{
            transform: scaleY(1);
          }
      }
  }
/* Testimonial CSS */
  .single-testimonial-area {
    display: flex;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    max-width: 775px;
    // Responsive
    @media #{$tablet-device}{
        width: 100%;
        max-width: 100%;
    }
    @media #{$large-mobile}{
        flex-wrap: wrap;
        width: 100%;
        max-width: 100%;
    }
    .testimonial-image {
      vertical-align: top;
      border-radius: 100%;
      float: left;
      width: 104px;
      height: 104px;
      border: 2px solid $theme-color;
      margin-top: 13px;
      flex: 0 0 104px;
      // Responsive
      @media #{$large-mobile}{
          margin: 0 auto;
      }
      img {
        width: auto;
      }
    }
    .testimonial-content {
      overflow: hidden;
      text-align: left;
      padding-left: 98px;
      position: relative;
      // Responsive
      @media #{$large-mobile}{
          padding-left: 70px;
      }
      &::before {
        content: "“";
        font-size: 100px;
        color: #363636;
        position: absolute;
        left: 10px;
        top: -4px;
        font-weight: 700;
        font-style: italic;
        line-height: 1;
        // Responsive
        @media #{$large-mobile}{
            left: 0;
        }
      }
    }
  }
  
  .testimonial-content > p {
    &.author-desc {
      margin: auto;
      line-height: 28px;
      padding: 15px 0;
      color: $body-color;
    }
    &.testimonial-author {
      text-transform: uppercase;
      color: $heading-color;
      margin: 7px 0 0 0;
    }
  }