/*----------------------------------------*/
/*  13. Faq CSS
/*----------------------------------------*/
.faq-desc {
    margin-bottom: 50px;
    // Responsive
    @media #{$tablet-device}{
        margin-bottom: 40px;
    }
    @media #{$large-mobile}{
        margin-bottom: 30px;
    }
    h3 {
      color: #444;
      font-size: 18px;
      font-weight: 700;
    }
    p {
      color: $body-color;
      margin: 0;
    }
  }
  
  .faq-accordion {
    .card {
      &.actives {
        border: 1px solid $theme-color;
      }
      border-radius: 0;
      margin-bottom: 10px;
    }
    .card-header {
      padding: 0;
      margin-bottom: 0;
      background-color: #f5f5f5;
      border: 0;
      a {
        &.collapsed:before {
          content: "\f067";
          font-family: fontawesome;
          position: absolute;
          right: 15px;
          top: 15px;
        }
        &:after {
          content: "\f067";
          font-family: fontawesome;
          position: absolute;
          right: 15px;
          top: 15px;
          content: "\f068 ";
        }
        display: block;
        padding: 15px 10px 15px 25px;
        cursor: pointer;
        // Responsive
        @media #{$large-mobile}{
            font-size: 14px;
            padding-right: 30px;
        }
        &:hover {
          color: $theme-color !important;
        }
      }
    }
  }