/*----------------------------------------*/
/*  07. Product CSS
/*----------------------------------------*/
/* Product Nav Two style */
.product-nav-two{
    & .slick-arrow{
        top: auto;
        bottom: 25%;
        margin-top: 0;
        // Responsive
        @media #{$tablet-device}{
            top: 0;
            bottom: auto;
            margin-top: -60px;
        }
        @media #{$large-mobile}{
            top: 0;
            bottom: auto;
            margin-top: -55px;
        }
        &.slick-prev {
            right: auto;
            left: -19%;
            // Responsive
            @media #{$desktop-device}{
                left: -32%;
            }
            @media #{$tablet-device}{
                left: auto;
                right: 50px;
            }
            @media #{$large-mobile}{
                left: auto;
                right: 50px;
            }
        }
        &.slick-next {
            right: auto;
            left: -16%;
            // Responsive
            @media #{$laptop-device}{
                left: -15%;
            }
            @media #{$desktop-device}{
                left: -27%;
            }
            @media #{$tablet-device}{
                left: auto;
                right: 10px;
            }
            @media #{$large-mobile}{
                left: auto;
                right: 10px;
            }
        }
    }
}
/*-- Product --*/
.single-product{
    & .product-img{
        position: relative;
        overflow: hidden;
        margin-bottom: 25px;
        & a{
            display: block;
            & img{
                width: 100%;
            }
        }
        & .sticker, & .descount-sticker{
            color: $body-color;
            font-weight: 400;
            text-align: center;
            line-height: 26px;
            padding: 0 10px;
            position: absolute;
            background: transparent;
            border: 2px solid $body-color;
            min-width: 60px;
            top: 10px;
            right: 10px;
            text-transform: capitalize;
            font-size: 16px;
            z-index: 1;
            border-radius: 0;
        }
        & .descount-sticker{
            right: auto;
            left: 10px;
            color: $theme-color;
            border-color: $theme-color;
        }
        & .product-action{
            background-color: $heading-color;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            transform: perspective(600px) rotateX(90deg);
            opacity: 0;
            transition: all 0.3s ease-in-out;
            & .product-btn{
                font-size: 12px;
                font-weight: 600;
                line-height: 45px;
                color: $white;
                text-align: center;
                position: relative;
                text-transform: uppercase;
                margin-left: 17px;
                // Responsive
                @media #{$desktop-device}{
                    margin-left: 10px;
                }
                @media #{$large-mobile}{
                    margin-left: 8px;
                }
                &::before{
                    content: "+";
                    padding-right: 8px;
                    font-size: 24px;
                    vertical-align: sub;
                    font-weight: 300;
                    line-height: 0;
                }
                &:hover{
                    color: $theme-color;
                }
            }
            & ul{
                margin: 0 12px 0 37px;
                // Responsive
                @media #{$desktop-device}{
                    margin: 0 7px 0 5px;
                }
                @media #{$large-mobile}{
                    margin: 0 12px 0 30px;
                }
                & li{
                    padding-right: 17px;
                    & a{
                        font-size: 18px;
                        color: $white;
                        line-height: 45px;
                        &:hover{
                            color: $theme-color;
                        }
                    }
                    &:last-child{
                        padding-right: 0;
                    }
                }
            }
        }
    }
    &:hover{
        & .product-img{
            & .product-action{
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
    & .product-content{
        text-align: center;
        & h3{
            font-size: 16px;
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 0 0 10px 0;
            line-height: 1;
            text-transform: uppercase;
        }
        & .ratting{
            margin: 5px 0;
            & i{
                color: $theme-color;
                letter-spacing: -2px;
                line-height: 1;
            }
        }
        & .price{
            & .new{
                font-size: 14px;
                color: $theme-color;
                margin-right: 5px;
                font-weight: normal;
                text-decoration: underline;
            }
            & .old{
                font-size: 14px;
                color: $heading-color;
                font-weight: normal;
            }
        }
    }
}
/* List Product CSS */
.product-content-shop-list{
    text-align: left;
    & h3{
        font-size: 16px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0 0 10px 0;
        line-height: 1;
        text-transform: uppercase;
    }
    & .ratting{
        margin: 5px 0;
        & i{
            color: $theme-color;
            letter-spacing: -2px;
            line-height: 1;
        }
    }
    & .price{
        & .new{
            font-size: 14px;
            color: $theme-color;
            margin-right: 5px;
            font-weight: normal;
            text-decoration: underline;
        }
        & .old{
            font-size: 14px;
            color: #767676;
            font-weight: normal;
        }
    }
    & p{
        color: $body-color;
        margin: 0;
        line-height: 24px;
        padding: 15px 0;
        // Responsive 
        @media #{$tablet-device}{
            padding-top: 0;
        }
    }
    .product-action{
        background-color: $heading-color;
        width: 255px;
        & .product-btn{
            font-size: 12px;
            font-weight: 600;
            line-height: 45px;
            color: $white;
            text-align: center;
            position: relative;
            text-transform: uppercase;
            margin-left: 17px;
            &::before{
                content: "+";
                padding-right: 8px;
                font-size: 24px;
                vertical-align: sub;
                font-weight: 300;
                line-height: 0;
            }
            &:hover{
                color: $theme-color;
            }
        }
        & ul{
            margin: 0 12px 0 37px;
            & li{
                padding-right: 17px;
                & a{
                    font-size: 18px;
                    color: $white;
                    line-height: 45px;
                    &:hover{
                        color: $theme-color;
                    }
                }
                &:last-child{
                    padding-right: 0;
                }
            }
        }
    }
}
/* Single List Product CSS */
.single-list-product {
	display: flex;
    margin-bottom: 20px;
    & .product-image{
        max-width: 100px;
        flex: 1 0 100px;
        // Responsive
        @media #{$large-mobile}{
            max-width: 80px;
            flex: 1 0 80px;
        }
    }
    & .product-content{
        flex: 1 0 calc(100% - 100px);
        padding-left: 15px;
        padding-top: 18px;
        // Responsive
        @media #{$large-mobile}{
            flex: 1 0 calc(100% - 80px);
        }
        & h3{
            font-size: 16px;
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 0 0 10px 0;
            line-height: 1;
            text-transform: uppercase;
            //Responsive
            @media #{$large-mobile}{
                font-size: 13px;
            }
        }
        & .price{
            & .new{
                font-size: 14px;
                color: $theme-color;
                margin-right: 5px;
                font-weight: normal;
                text-decoration: underline;
            }
            & .old{
                font-size: 14px;
                color: #767676;
                font-weight: normal;
            }
        }
    }
}
.big-product{
    padding-bottom: 75px;
    border-bottom: 1px solid #e5e5e5;
    // Responsive
    @media #{$tablet-device}{
        padding-bottom: 40px;
    }
    @media #{$large-mobile}{
        padding-bottom: 30px;
    }
}
/* -- Deal Product CSS --*/
.deal-product-content{
    text-align: center;
    border: 20px solid #f2f2f2;
    // Responsive
    @media #{$large-mobile}{
        border: 5px solid #f2f2f2;
    }
    & h3{
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0 0 10px 0;
        line-height: 1;
        padding: 107px 0 0;
        // Responsive 
        @media #{$desktop-device}{
            padding: 60px 0 0;
        }
        @media #{$tablet-device}{
            padding: 20px 0 0;
        }
        @media #{$large-mobile}{
            padding: 20px 0 0;
            font-size: 18px;
        }
    }
    & .ratting{
        & i{
            color: $theme-color;
            letter-spacing: -2px;
        }
    }
    & .price{
        & .new{
            font-size: 18px;
            color: $theme-color;
            margin-right: 7px;
            font-weight: normal;
            text-decoration: underline;
        }
        & .old{
            font-size: 16px;
            color: #767676;
            font-weight: normal;
        }
    }
    & p{
        padding: 45px 60px;
        color: $body-color;
        line-height: 25px;
        margin-bottom: 0;
        // Responsive
        @media #{$desktop-device}{
            padding: 20px 30px;
        }
        @media #{$tablet-device}{
            padding: 15px 30px;
        }
        @media #{$large-mobile}{
            padding: 15px 15px;
        }
    }
    & .actoion-box{
        padding: 45px 0 90px;
        // Responsive
        @media #{$laptop-device}{
            padding: 35px 0 90px;
        }
        @media #{$desktop-device}{
            padding: 35px 0 60px;
        }
        @media #{$tablet-device}{
            padding: 5px 0 30px;
        }
        @media #{$large-mobile}{
            padding: 5px 0 20px;
        }
        & .product-action{
            background-color: $heading-color;
            width: 255px;
            margin: 0 auto;
            & .product-btn{
                font-size: 12px;
                font-weight: 600;
                line-height: 45px;
                color: $white;
                text-align: center;
                position: relative;
                text-transform: uppercase;
                margin-left: 17px;
                &::before{
                    content: "+";
                    padding-right: 8px;
                    font-size: 24px;
                    vertical-align: sub;
                    font-weight: 300;
                    line-height: 0;
                }
                &:hover{
                    color: $theme-color;
                }
            }
            & ul{
                margin: 0 12px 0 37px;
                & li{
                    padding-right: 17px;
                    & a{
                        font-size: 18px;
                        color: $white;
                        line-height: 45px;
                        &:hover{
                            color: $theme-color;
                        }
                    }
                    &:last-child{
                        padding-right: 0;
                    }
                }
            }
        }
    }
}
.deal-product-title{
    text-align: center;
    & h2{
        display: inline-block;
        color: $heading-color;
        margin: 0;
        font-weight: 600;
        text-transform: uppercase;
        & span{
            font-size: 60px;
            font-weight: 300;
            display: inline-block;
            color: $theme-color;
            @media #{$tablet-device}{
                font-size: 50px;
            }
            @media #{$large-mobile}{
                font-size: 40px;
            }
            &:last-child{
                font-weight: 700;
                color: $heading-color;
                padding-left: 20px;
            }
        }
    }
    & p{
        padding: 30px 0 40px;
        font-size: 16px;
        color: $body-color;
        line-height: 25px;
        margin-bottom: 0;
        // Responsive
        @media #{$desktop-device}{
            padding: 20px 0 40px;
        }
        @media #{$tablet-device}{
            padding: 20px 0 40px;
        }
        @media #{$large-mobile}{
            padding: 20px 0 20px;
        }
    }
    & a{
        font-size: 18px;
        font-weight: 600;
        color: $heading-color;
        text-decoration: underline;
        margin: 40px 0;
        display: block;
        // Responsive
        @media #{$desktop-device}{
            margin: 20px 0;
        }
        @media #{$tablet-device}{
            margin: 20px 0;
        }
        @media #{$large-mobile}{
            margin: 20px 0;
        }
        &:hover{
            color: $theme-color;
        }
    }
}
/*-- Product Countdown CSS --*/
.cs-countdown {
	margin-bottom: 40px;
    text-align: center;
    //Responsive 
    @media #{$tablet-device}{
        margin-bottom: 20px;
    }
    @media #{$large-mobile}{
        margin-bottom: 20px;
    }
    &.black-color{
       & .countdown-wrap{
        & > div{
            & + div{
                &::before{
                    color: $body-color;
                    font-weight: 700;
                    //Responsive
                    @media #{$large-mobile}{
                        left: -20px;
                    }
                    @media #{$desktop-device}{
                        left: -15px;
                    }
                    @media #{$tablet-device}{
                        left: -9px;
                    }
                    @media #{$large-mobile}{
                        left: -9px;
                    }
                }
            }
        }
        
    }
    & .number{
        font-size: 34px;
        color: $heading-color;
        font-weight: 600;
        width: 90px;
        height: 90px;
        line-height: 90px;
        border: 2px solid #cea679;
        border-radius: 50%;
        //Responsive
        @media #{$desktop-device}{
            font-size: 24px;
            line-height: 70px;
            height: 70px;
            width: 70px;
        }
        @media #{$tablet-device}{
            font-size: 20px;
            line-height: 60px;
            height: 60px;
            width: 60px;
        }
        @media #{$large-mobile}{
            font-size: 16px;
            line-height: 50px;
            height: 50px;
            width: 50px;
        }
    }
    & .text{
        display: block;
        font-size: 18px;
        line-height: 28px;
        color: $body-color;
        text-transform: capitalize;
        font-weight: 400;
        // Responsive
        @media #{$desktop-device}{
            font-size: 16px;
        }
        @media #{$tablet-device}{
            font-size: 16px;
        }
        @media #{$large-mobile}{
            font-size: 14px;
        }
    } 
    }
    & .countdown-wrap{
        & > div{
            display: inline-block;
            text-align: center;
            
            & + div{
                margin-left: 30px;
                position: relative;
                //Responsive
                @media #{$desktop-device}{
                    margin-left: 20px;
                }
                @media #{$tablet-device}{
                    margin-left: 10px;
                }
                @media #{$large-mobile}{
                    margin-left: 10px;
                }
                &::before{
                    content: ":";
                    font-size: 30px;
                    position: absolute;
                    left: -20px;
                    top: 50%;
                    transform: translateY(-50%);
                    margin-top: -20px;
                    color: $white;
                    //Responsive
                    @media #{$large-mobile}{
                        left: -20px;
                    }
                }
            }
        }
        
    }
    & .number{
        font-size: 34px;
        line-height: 34px;
        color: $theme-color;
        display: block;
        //Responsive
        @media #{$large-mobile}{
            font-size: 24px;
            line-height: 1;
        }
    }
    & .text{
        display: block;
        font-size: 16px;
        line-height: 30px;
        text-transform: capitalize;
    }
    &.font-sm{
        & .number{
            font-size: 28px;
            display: block;
            //Responsive
            @media #{$large-mobile}{
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}
/*countdown css*/
.count-down-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    text-align: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 12px 20px;
    & .single-count {
        display: inline-block;
        vertical-align: middle;
        margin-right: 25px;
        font-size: 14px;
        color: $white;
        text-transform: capitalize;
          & > span {
            color: $white;
            display: inline-block;
            font-size: 20px;
            font-weight: normal;
            position: relative;
            &:before {
              content: ':';
              display: block;
              position: absolute;
              right: -25px;
              top: -1px;
            }
          }
          &:last-child{
              margin-right: 0;
              & span{
                &::before{
                    display: none;
                }
              }
          }
      }
  }
/* Shop Toolbar CSS */
.shop-topbar-wrapper{
    position: relative;
    padding: 0 0 10px;
    margin: 0 0 40px;
    border-bottom: 1px solid #e5e5e5;
}
.grid-list-option{
    & ul{
        // Responsive
        @media #{$large-mobile}{
            justify-content: center;
            margin-bottom: 10px;
        }
        & li{
            & a{
                width: 30px;
                height: 30px;
                font-size: 14px;
                display: block;
                text-align: center;
                line-height: 30px;
                color: #999999;
                background-color: #eeeeee;
                &.active, &:hover{
                    color: $white;
                    background-color: $theme-color;
                }
            }
        }
    }
	
}
.toolbar-shorter {
	display: flex;
	align-items: center;
    margin-right: 20px;
    // Responsive
    @media #{$large-mobile}{
        justify-content: center;
        margin-right: 0;
        margin-bottom: 10px;
    }
    &:last-child{
        margin-right: 0;
    }
    & label {
        display: block;
        margin-bottom: 0;
        margin-right: 15px;
        font-size: 14px;
        color: #4e4e4e;
        text-transform: uppercase;
    }
}
.nice-select.wide{
    width: 200px;
    // Responsive
    @media #{$large-mobile}{
        width: 180px;
    }
}
.nice-select.small{
    height: 42px;
    line-height: 40px;
    font-size: 14px;
    margin-right: 10px;
}
/*-- Product Details --*/
.slider-lg-image-1 .lg-image {
    > a {
    width: 100%;
    }
    img {
    width: 100%;
    }
    position: relative;
}
.slider-thumbs-1 {
    margin-top: 15px;
    overflow: hidden;
    & .slick-list{
    margin: 0 -5px;
    & .slick-slide{
        padding: 0 5px;
        & > img{
            border: 2px solid transparent;
            // Responsive
            @media #{$large-mobile}{
                border: 1px solid transparent;
            }
        }
    }
    }
    & .slick-active.slick-current{
        & > img{
        border-color: $heading-color;
        }
    }
}
  
  .product-details-thumbs .sm-image {
    cursor: pointer;
  }
  .product-large-thumb {
    position: relative;
    overflow: hidden;
  }
  
  a.popup-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px !important;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #373737;
    color: #fff;
    border-radius: 4px;
    z-index: 9;
  }
  
  .product-large-thumb a.popup-img:hover {
    background-color: $theme-color;
    color: #fff;
  }
  .product-details-content {
    position: relative;
    // Responsive
    @media #{$large-mobile}{
        margin-top: 30px;
    }
  }
  
  .product-nav {
    position: absolute;
    top: 0;
    right: 0;
    > a {
      display: inline-block;
      width: 30px;
      height: 30px;
      border: 1px solid #d1d1d1;
      line-height: 28px;
      text-align: center;
      border-radius: 3px;
      color: #d1d1d1;
      position: relative;
      margin-right: 5px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      &:hover {
        background: $theme-color;
        border-color: $theme-color;
        color: #fff;
      }
    }
  }
  
  .product-details-content {
    & h2{
        color: $heading-color;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
        // Responsive
        @media #{$large-mobile}{
            font-size: 20px;
        }
        @media #{$extra-small-mobile}{
            text-align: left;
        }
    }
  }
  
  .single-product-reviews {
    color: #202020;
    font-size: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .review-link {
    font-size: 14px;
    color: $heading-color;
    margin-left: 10px;
    line-height: 30px;
    display: inline-block;
    &:hover {
      color: $theme-color;
    }
  }
  
  .single-product-price {
    color: $heading-color;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    .price.new-price {
      color: $theme-color;
    }
    .regular-price {
      text-decoration: line-through;
    }
  }
  
  .product-description {
      & p{
            line-height: 25px;
            color: $body-color;
            margin-bottom: 30px;
        }
    
  }
  
  .single-product-quantity {
    margin-bottom: 35px;
    .product-quantity {
      background: #fff;
      border: 1px solid #ededed;
      float: left;
      margin-right: 15px;
      padding: 0 10px;
      border-radius: 0;
      input {
        background: none;
        border: none;
        color: $heading-color;
        font-size: 20px;
        font-weight: 400;
        height: 55px;
        line-height: 53px;
        padding: 0;
        width: 85px;
      }
    }
  }
  
  .product-add-btn {
    background: $heading-color;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    height: 55px;
    letter-spacing: 0;
    line-height: 55px;
    margin: 0;
    padding: 0 40px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    // Responsive
    @media #{$large-mobile}{
        padding: 0 25px;
    }
    &:hover {
      background: $theme-color;
      color: #fff;
    }
  }
  
  .wishlist-compare-btn {
    margin-bottom: 35px;
    // Responsive
    @media #{$large-mobile}{
        margin-bottom: 20px;
    }
    @media #{$small-mobile}{
        text-align: left;
    }
    a {
      background: none;
      border: 1px solid #ededed;
      color: $heading-color;
      display: inline-block;
      font-size: 14px;
      font-weight: normal;
      height: 45px;
      line-height: 43px;
      text-align: center;
      width: 170px;
      border-radius: 0;
      -webkit-transition: .3s ease;
      transition: .3s ease;
      // Responsive
      @media #{$tablet-device}{
            width: 160px;
        }
      &.wishlist-btn {
        margin-right: 20px;
        // Responsive
        @media #{$tablet-device}{
            margin-right: 0;
        }
        @media #{$large-mobile}{
            margin-right: 0;
            margin-bottom: 15px;
        }
      }
      &.add-compare {
        border-radius: 5px;
      }
      &.wishlist-btn:before {
        content: '\f08a';
        display: inline-block;
        font-family: FontAwesome;
        font-size: 16px;
        margin-right: 5px;
        vertical-align: top;
      }
      &:hover {
        background: $theme-color;
        border-color: $theme-color;
        color: #fff;
        &:before {
          -webkit-animation: crFlipX 2s ease-in-out infinite both;
          animation: crFlipX 2s ease-in-out infinite both;
        }
      }
    }
  }
  
  .product-meta {
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    padding: 15px 0;
    width: 100%;
    .posted-in {
      color: $heading-color;
      font-size: 14px;
      font-weight: 700;
      margin-right: 10px;
      text-transform: uppercase;
      > a {
        color: $heading-color;
        font-weight: 400;
        text-transform: none;
        &:hover {
          color: $theme-color;
        }
      }
    }
  }
  
  .single-product-sharing {
    margin-bottom: 0;
    padding: 15px 0;
    width: 100%;
    > h3 {
      color: $heading-color;
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      margin-right: 15px;
      text-transform: uppercase;
    }
    ul {
      display: inline-block;
      margin-bottom: 10px;
      > li {
        display: inline-block;
        list-style: none;
        margin-bottom: 0;
        margin-right: 15px;
        position: relative;
      }
    }
  }

  .single-product-sharing {
    & ul{
        & li{
            & a{
                color: #555555;
                display: block;
                font-size: 16px;
                text-align: center;
                text-transform: uppercase;
                &:hover {
                color: $theme-color;
                }
            }
        }
    }
  }
/*Single Product variable css*/

.product-variants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    > .product-variants-item {
      margin: 20px 0;
      display: block;
      margin-top: 0;
      &:last-child {
        margin-left: 30px;
      }
    }
  }
  
  .product-variants-item span.control-label {
    margin-bottom: 6px;
    margin-bottom: 5px;
    display: block;
    width: 100%;
    text-transform: capitalize;
  }
  
  .product-variants{
      & .product-variants-item{
          & select{
            border: 1px solid #ebebeb;
            height: 40px;
            width: 60px;
            background: #fff;
            border: 1px solid #ebebeb;
            height: 40px;
            width: 60px;
            background: #fff;
          }
      }
  }
  
  .procuct-color {
    & > li{
        display: inline-block;
        list-style: none;
        margin-left: 5px;
        &:nth-child(2){
            & > a{
                & > span.color{
                    background: #00EEB3;
                }
            }
        }
        & > a{
            & > span.color{
                background: #ffa07a;
                height: 20px;
                width: 20px;
                display: inline-block;
                margin-right: 10px;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }
        }
        &.active, &:hover{
            & > a{
                & > span.color{
                    outline: 1px solid #D6B98C;
                    outline-offset: 1px; 
                }
            }
        }
    }
  }
/*single product group css*/
.group-cart-table {
    // Responsive
    @media #{$small-mobile}{
        margin-bottom: 20px;
    }
    .table{
        & td{
            text-align: center;
            vertical-align: middle;
            // Responsive
            @media #{$small-mobile}{
                min-width: 180px;
            }
            
        }
    }
    .quantity-field {
      label {
        margin-right: 5px;
      }
      input {
        width: 50px;
        text-align: center;
        border: 1px solid #ddd;
        height: 45px;
      }
    }
  }
/*Single Product Tab Style 2 CSS*/

.single-product-area {
    & .slider-thumbs-2{
        padding: 40px 0px;
    }
  }
  
  .product-details-images-2 {
    float: right;
    width: calc(100% - 110px);
    padding-left: 10px;
    // Responsive
    @media #{$tablet-device}{
        width: calc(100% - 80px);
    }
    @media #{$large-mobile}{
        width: calc(100% - 80px);
    }
  }
  
  .product-details-thumbs-2 {
    float: left;
    width: 110px;
    // Responsive
    @media #{$tablet-device}{
        width: 80px;
    }
    @media #{$large-mobile}{
        width: 80px;
    }
  }
  
  /*Single Product Tab Style 3 CSS*/
  
  .product-details-images-2.tabstyle-3 {
    float: left;
    width: calc(100% - 110px);
    padding-right: 10px;
    // Responsive
    @media #{$tablet-device}{
        width: calc(100% - 80px);
    }
    @media #{$large-mobile}{
        width: calc(100% - 80px);
    }
  }
  
  .product-details-thumbs-2.tabstyle-3 {
    float: right;
    width: 110px;
    // Responsive
    @media #{$tablet-device}{
        width: 80px;
    }
    @media #{$large-mobile}{
        width: 80px;
    }
  }
/*Single Product gallery Style CSS*/
.lg-image.col-50 {
    float: left;
    width: 50%;
    padding: 5px;
    a.popup-img {
      bottom: 5px;
      right: 5px;
    }
  }
/*Single Product sticky Style CSS*/
.lg-image.sidebar-sticky {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
/*Single Product slider box Style CSS*/

.slider-box {
    margin-bottom: 50px;
    // Responsive
    @media #{$large-mobile}{
        margin-bottom: 0;
    }
    & .slick-list{
        margin: 0 -10px;
        & .slick-slide{
            padding: 0 10px;
        }
    }
  }
  
  .slider-box-content {
    .product-description p {
      max-width: 80%;
      margin: auto;
      margin-bottom: 15px;
    }
    .product-quantity {
      float: none;
      display: inline-block;
    }
    .add-to-link {
      display: inline-block;
    }
  }
/*-- Product Details Tab List --*/
.dec-and-review-menu {
    > li {
      list-style: none;
      position: relative;
      z-index: 9;
      display: inline-block;
      margin-right: 8px;
      // Responsive
      @media #{$small-mobile}{
          margin-bottom: 10px;
          margin-right: 0;
          text-align: center;
          display: block;
          width: 100%;
      }
      &:last-child{
          margin-right: 0;
      }
      > a {
        height: auto;
        line-height: 50px;
        padding: 0 40px;
        border: 0;
        display: block;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        background: #f0f0f0;
        font-weight: 600;
        color: $heading-color;
        &.active, &:hover {
          background-color: $theme-color;
          color: $white;
        }
      }
    }
  }

/*-- Product Details Tab Content --*/
  .product-review-content-tab {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 48px 0 45px;
    float: left;
    font-size: 14px;
    line-height: 26px;
    margin-top: 25px;
    width: 100%;
    // Responsive
    @media #{$tablet-device}{
        padding: 25px 0 25px;
        margin-top: 20px;
    }
    @media #{$large-mobile}{
        padding: 20px 0 20px;
        margin-top: 15px;
    }
  }
  
  .single-product-description {
    p {
      line-height: 22px;
      color: $body-color;
    }
  }
  
  .review-page-comment {
    h2 {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
    > ul {
      margin: 0 0 25px;
      > li {
        margin: 0 0 20px;
        position: relative;
        list-style: none;
      }
    }
  }
  
  .product-comment img {
    width: 60px;
    float: left;
  }
  
  .product-comment-content {
    border: 1px solid #ededed;
    border-radius: 3px;
    margin-left: 80px;
    position: relative;
    padding: 15px 15px 0;
    &:before {
      background: #fff;
      border-bottom: 1px solid #ededed;
      border-left: 1px solid #ededed;
      content: '';
      display: block;
      height: 10px;
      left: -6px;
      position: absolute;
      top: 10px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 10px;
    }
  }
  
  .meta > {
    strong {
      font-size: 17px;
      text-transform: uppercase;
      line-height: 31px;
      color: #777;
    }
    span {
      font-size: 17px;
      color: #777;
      font-weight: 400;
      line-height: 31px;
    }
  }
  
  .description {
    & p{
        font-size: 16px;
        color: $body-color;
        line-height: 28px;
    }
  }
  
  .comment-notes {
    margin: 0;
  }
  
  .rating i.fa:not(:last-child) {
    color: #F9BA48;
  }
  
  .comment-form-comment {
    margin-bottom: 10px;
    textarea {
      border: 1px solid #ededed;
      border-radius: 0;
      height: 125px;
      padding: 10px;
      width: 100%;
      background: #f5f5f5;
    }
  }
  
  .review-comment-form-author, .review-comment-form-email {
    margin-bottom: 10px;
  }
  
  .review-comment-form-author input, .review-comment-form-email input {
    background: #f5f5f5;
    border: none;
    border-radius: 0;
    height: 38px;
    line-height: 38px;
    max-width: 100%;
    width: 300px;
    display: block;
    padding: 0 0 0 10px;
    vertical-align: middle;
  }
  
  .review-comment-form-author input:focus, .review-comment-form-email input:focus, .comment-form-comment textarea:focus {
    outline: auto;
    outline-color: $theme-color;
  }
  
  .form-button {
    border: none !important;
    height: 42px !important;
    line-height: 40px !important;
    background: $theme-color;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    height: 38px;
    letter-spacing: .1em;
    line-height: 38px;
    overflow: hidden;
    padding: 0 30px;
    text-shadow: none;
    text-transform: uppercase;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    vertical-align: middle;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background: #222;
      color: #fff;
    }
  }
