/*---------------------------------------
    19. Sidebar CSS
-----------------------------------------*/

/*-- Sidebar --*/
.common-sidebar-widget {
    margin-bottom: 50px;
    // Responsive
    @media #{$tablet-device}{
        margin-bottom: 40px;
    }
    @media #{$large-mobile}{
        margin-bottom: 30px;
    }
    &.sidebar-two {
        padding: 0;
        background-color: transparent;
    }
    &:last-child {
        margin-bottom: 0;
    }
}
/*-- Sidebar Title --*/
.sidebar-title {
    margin: 0;
    padding: 0 0 15px;
    display: block;
    font-size: 16px;
    color: $heading-color;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    border-bottom: 1px solid #ededed;
}
/*-- Sidebar Search --*/
.sidebar-search {
    & form {
        display: flex;
        border: 1px solid #e5e6e7;
        & input {
            flex: 1 0 calc(100% - 40px);
            max-width: calc(100% - 40px);
            height: 40px;
            border: none;
            background-color: transparent;
            padding: 0 15px;
            color: $body-color;
        }
        & button {
            max-width: 40px;
            flex: 1 0 40px;
            height: 40px;
            border: none;
            background-color: transparent;
            display: flex;
            justify-content: center;
            padding: 0;
            & i {
                font-size: 20px;
                line-height: 40px;
            }
            &:hover {
                color: $theme-color;
            }
        }
    }
}
/*-- Sidebar List --*/
.sidebar-list {
    & li {
        line-height: 40px;
        overflow: hidden;
        margin: 0;
        border-bottom: 1px solid #ededed;
        & a {
            font-size: 14px;
            font-weight: 400;
            color: $body-color;
            display: block;
            & img {
                width: 25px;
                margin-right: 15px;
            }
            & i {
                margin-right: 10px;
                font-size: 14px;
            }
            & .count{
                float: right;
            }
            &:hover {
                color: $theme-color;
            }
        }
    }
}
/*-- Sidebar Blog --*/
.sidebar-blog {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e6e7;
    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
    }
    & .image {
        max-width: 80px;
        flex: 1 0 80px;
        & img {
            width: 100%;
        }
    }
    & .content {
        flex: 1 0 calc(100% - 80px);
        padding-left: 15px;
        & h5 {
            font-size: 16px;
            line-height: 1.5;
            & a {}
        }
        & span {
            font-size: 13px;
            display: block;
            line-height: 18px;
        }
    }
}
/*-- Sidebar Tags --*/
.sidebar-tag {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
    & li {
        padding: 5px;
        & a {
            display: block;
            border: 1px solid #e5e6e7;
            padding: 3px 15px;
            font-size: 14px;
            &:hover {
                background-color: $heading-color;
                border-color: $heading-color;
                color: $theme-color;
            }
        }
    }
}
/*-- Sidebar Product --*/
.sidebar-product {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e6e7;
    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
    }
    & .image {
        max-width: 80px;
        flex: 1 0 80px;
        & img {
            width: 100%;
            border: 1px solid #f1f2f3;
        }
    }
    & .content {
        flex: 1 0 calc(100% - 80px);
        padding-left: 15px;
        & .title {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 5px;
            & a {}
        }
        & .price {
            & span {
                &.new {}
                &.old {
                    margin-left: 10px;
                    color: $body-color;
                    text-decoration: line-through;
                }
            }
        }
        & .ratting {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 5px;
            & i {
                font-size: 12px;
                line-height: 18px;
                margin-right: 5px;
                color: $theme-color;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}