/*---------------------------------------
    12. Compare CSS
-----------------------------------------*/
/*-- Compare Table --*/
.error-text > h1 {
  font-size: 200px;
  color: #ff7a5f;
  font-weight: 900;
  letter-spacing: 10px;
  line-height: 220px;
  margin-bottom: 30px; }

.error-text > h2 {
  font-size: 35px;
  line-height: 47px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #555; }

.error-text > p {
  font-size: 22px;
  font-weight: 300;
  line-height: 25px;
  margin: 20px auto 30px;
  color: #555;
  max-width: 700px; }

.search-error form {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 500px; }

.search-error input {
  background: none;
  border: 1px solid #e9e9e9;
  color: #333333;
  float: left;
  font-size: 14px;
  height: 50px;
  padding: 0 40px 0 15px;
  width: 100%;
  line-height: 50px; }

.search-error button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4f4f4f;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 50px; }
  .search-error button:hover {
    color: #ff7a5f; }

.error-button a {
  background: #ff7a5f none repeat scroll 0 0;
  border-radius: 35px;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 40px;
  margin-top: 30px;
  padding: 0 30px;
  text-transform: uppercase; }
  .error-button a:hover {
    background: #333; }
